# dot files
/.vscode/launch.json
/.settings
/.eide/log
/.eide.usr.ctx.json

# project out
/build
/bin
/obj
/out

# eide template
*.ept
*.eide-template

/pcb/c51keypad/c51keypad-backups
/pcb/c51keypad/fp-info-cache
pcb/c51keypad/_autosave-c51keypad.kicad_sch
pcb/c51keypad/#auto_saved_files#
pcb/c51keypad/~c51keypad.kicad_sch.lck
